body {
  margin: 0;
  padding: 0;
  background-color: rgb(240, 240, 240);
  font-family: 'Montserrat', sans-serif;
  color: #3b3b3b;
}

.bg{
  width: 100%;
  height: 90vh;
  background-image: url(./../img/pink_panther.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  margin-top: 50px;
}

.container {
  width: 85%;
  max-width: 1200px;
  margin: 0 auto;
  background-color: transparent;
}

.song {
  width: 90%;
  margin: 15px auto;
  color: #ed008d;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
}

.space {
  display: inline-block;
}

h1, h4 {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

h1 {
  font-size: 55px;
}

h4 {
  font-size: 24px;
  padding-left: 5px;
}

/*форма добавления новых задач*/
.card {
  width: 90%;
  border: 1px solid #ed008d;
  border-radius: 5px;
}

.card-header {
  background-color: #fceff5;
  padding: 20px 12px;
  font-size: 18px;
  font-weight: 600;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid #ed008d;
}

.card-body {
  padding: 20px 16px;
}

.form-control {
  color: #3b3b3b;
  width: 98%;
  padding: 10px 8px;
  font-size: 17px;
  line-height: 1.5;
  outline: none;
  border: 1px solid #ed008d;
  border-radius: 5px;
  margin-bottom: 25px;
}

.add-btn {
  background-color: #f5e0e9;
  outline: none;
  border: 1px solid #ed008d;
  border-radius: 8px;
  color:  #ed008d;
  padding: 14px 16px;
  font-size: 20px;
  cursor: pointer;
}

.add-btn:active {
  box-shadow: 0 0 1px 1px #ff5ebf;
}

/*список задач*/

.list {
  width: 90%;
  margin-bottom: 26px;
}

ul {
  list-style: none;
  margin-left: -40px;
}

.list-item {
  width: 96%;
  background-color: #fdf8fa;
  padding: 12px 21px;
  font-size: 18px;
  font-style: italic;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  margin-bottom: 2px;
  border: 1px solid #fdbbe3;
}

.empty-list-item {
  width: 96%;
  background-color: #fdf8fa;
  padding: 14px 21px;
  font-size: 18px;
  font-style: italic;
  border-radius: 5px;
  margin-bottom: 2px;
  border: 1px solid #fdbbe3;
  text-align: center;
}

.btn-ready, .btn-delete {
  background-color: #f5e0e9;
  color: #3b3b3b;
  outline: none;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

.btn-ready:hover, .btn-delete:hover {
  background-color: #fac8dd;
}

.task-title--done {
  text-decoration: line-through;
}

@media(max-width: 1210px) {
  .list-item, .empty-list-item {
    width: 95%;
  }
}

@media(max-width: 1000px) {
  .list-item, .empty-list-item {
    width: 94%;
  }
}

@media(max-width: 540px) {
  .list-item {
    padding: 10px 10px;
  }

  .btn-group {
    min-width: 145px;
  }

  .task-title {
    font-size: 14px;
  }

  .song {
    display: none;
    font-size: 16px;
    justify-content: space-around;
    position: absolute;
    bottom: 15px;
  }

  h1 {
    font-size: 45px;
    text-align: center;
    background-color: rgba(240, 240, 240, 0.75);
    margin-bottom: 20px;
  }

  h4 {
    font-family: 20px;
  }

  .bg {
    margin-top: 20px;
    background-size: 30%;
    background-position: right bottom;
  }

  .list, .card {
    width: 100%;
  }

  .list ul {
    width: 95%;
    margin-left: -45px;
  }

  .card-header {
    font-size: 16px;
  }

  .card-body {
    padding: 20px 20px;
  }

  .form-control {
    width: 94%;
    padding: 10px 6px;
    font-size: 17px;
    line-height: 1;
  }

  .add-btn {
    width: 100%;
  }

  .btn-ready, .btn-delete {
    padding: 6px 10px;
    font-size: 14px;
  }

}